body {
    margin: 0;
    text-align: center;
    font-family: 'Gloock', serif;
}

.headshot {
    height: 160px;
}

.left-img {
    height: 160px;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.right-img {
    height: 150px;
    float: right;
    margin-right: 30px;
}


.plane {
    height: 100px;
    margin-top: 100px;
    margin-left: 200px;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #EEE3CB;
    font-family: 'Mynerve', cursive;
    line-height: 2;
}

h2 {
    font-family: 'Mulish', sans-serif;
    color: #red;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Mulish', sans-serif;
    color: #967E76;
    font-size: 1.5rem
    }

.top-container {
    padding-top: 100px;
    background-color: #B7C4CF;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 320px;
    position: relative;


}

.middle-container {
    background-color: #EEE3CB;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
}

.pro {
    text-decoration: underline;
}

.contact-me {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D7C0AE;
    margin: -2rem auto 0px auto;
    ;

}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}


.skill-row {
    width: 50%;
    margin: 100px auto -1rem auto;
    text-align: left;
    line-height: 2;
    padding-top: 0px;
}

a {
    color: #967E76;
}

.skills {
    padding-top: 50px;
}
